#root {
  color: rgb(27, 27, 27);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.main-block {
  text-align: center;
  width: 90%;
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(207, 207, 207);
  margin: 10px auto;
}

.main-block p {
  text-align: justify;
  padding: 0 15px;
}

.main-block img {
  border: 1px solid black;
}

.search-area {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 10px;
  background-color: rgb(216, 216, 216);
  height: 30px;
  border: rgb(126, 126, 126) solid 1px;
  margin: 0;
}

#searchbox {
  height: 25px;
  margin-left: 5px;
}

input {
  margin: 3px;
}

.display-result {
  margin: 6px;
}

body {
  margin: 0;
  padding: 0;
}

.display {
  display: none;
}

#pull-down{
  margin: 3px 10px;
}